---
- name: Playbook 1 - Install applications
  hosts: all
  gather_facts: true
  become: true

  vars:
    apps_common:
      - curl
      - vim
      - git

  tasks:
    - name: Install common apps
      ansible.builtin.package:
        name: "{{ apps_common }}"
        state: present

